h2 {
  text-align: center;
  font-size: 40px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
#newTask {
    font-size: 20px;
    width: 80%;
    margin-top: 5%;
    margin-left: 5%;
    padding: 15px;
    border-radius: 10px;
  }
  
#addtask {
  font-size: 20px;
  padding: 15px;
  background-color: rgb(242, 4, 4);
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
#addtask:hover {
  color: red;
  background-color: whitesmoke;
}

.task-list{
  border: 1px solid black;
  border-radius: 8px;
  align-items: center;
 
}
#taskintasks{
  font-size: 30px;
  margin-left: 5%;
  margin-top: 2%;
  align-items: center;

}